.header {
    background: $black;

    // remove default styling
    ul {
        padding: 0;
        margin: 0;
    }

    // default styling for all logos
    .logo {
        font-family: Antonio;
        font-style: normal;
        font-weight: normal;
        font-size: 1.75rem;
        line-height: 2.25rem;
        letter-spacing: -0.065625rem;
        text-transform: uppercase;
        color: $white;
        padding: 0;
        margin: 0;
        padding: 1rem 1.5rem;
    }

    // MOBILE PLANET LINKS ---------------------------------
    // the links that lets you change planets
    .top {
        border-bottom: 1px solid rgba(255, 255, 255, 0.20);

        .toggle {
            transition: opacity, transform 0.5s ease-out;
            &.toggle-active {
                opacity: 0.25;
                transform: scale(1.1);
            }
        }

        .bars {
            background: $white;
            display: block;
            height: 0.1875rem;
            width: 1.5rem;
            position: relative;
            margin: 0 1.5rem;
    
            &:first-child {
                margin-bottom: 0.25rem;
            }
    
            &:last-child {
                margin-top: 0.25rem;
            }
        }

        &.hide {
            display: none;
        }
    }

    .planet__links.mobile-only {
    
        .planet-link {
            font-family: Spartan;
            font-style: normal;
            font-weight: bold;
            font-size: 0.9375rem;
            line-height: 167%; /* identical to box height, or 167% */
            letter-spacing: 0.0852275rem;
            text-transform: uppercase;
            color: $white;
            padding: 1.25rem 0;
            width: 100%;
        }

        .toggle-item {
            display: none;
            margin: 0 1.5rem;

            &:not(.first) {
                border-top: 1px solid rgba(255, 255, 255, 0.10);
            }
            &.first {
                padding: 0;
            }

            &.blank {
                padding: 0;
                padding-top: 1.25rem;
                border: 0;
            }
            &.blank-bottom {
                height: 100vh;
                border: 0;
            }
    
            &.active {
                display: flex;
            }
        }

        .chevron {
            padding-right: 1rem;
        }

        .dot {
            height: 1.25rem;
            width: 1.25rem;
            margin-right: 1.5625rem;
            border-radius: 50%;
            display: inline-block;
    
            &.mercury {
                background: $mercury;
            }
            &.venus {
                background: $venus;
            }
            &.earth {
                background: $earth;
            }
            &.mars {
                background: $mars;
            }
            &.jupiter {
                background: $jupiter;
            }
            &.saturn {
                background: $saturn;
            }
            &.uranus {
                background: $uranus;
            }
            &.neptune {
                background: $neptune;
            }
        }
    }


    // TABLET AND DESKTOP PLANET LINKS ---------------------------------
    // the links that let you change planets
    .planet__links.hide-for-mobile {
        position: relative;
        grid-template-columns: repeat(8, 1fr);
        column-gap: 2.0625rem;
        padding: 0 2rem;
        padding-top: 2.0625rem; // tablet
        border-bottom: 1px solid rgba(255, 255, 255, 0.20);
        //https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout#grid_lines

        @include respond-between(xs, md) {
            column-gap: 0;
        }

        @include respond-above(md) {
            grid-template-columns: 25% repeat(8, 1fr);
            padding-top: 1.375rem;
        }

        @include respond-above(lg) {
            grid-template-columns: 50% repeat(8, 1fr);
            padding-top: 1.375rem;
        }

        .logo {
            margin: 0;
            padding: 0;

            // Make the logo go on top of the planet links and use 100% of the viewport width
            @include respond-between(xs, md) {
                grid-column-start: 1;
                grid-column-end: 9;
                grid-row-start: 1;
                grid-row-end: 2;
                text-align: center;
            }
            @include respond-above(md) {
                text-align: left;
                padding-bottom: 1.6875rem;
            }
        }

        .planet-link {
            position: relative;
            font-family: Spartan;
            font-style: normal;
            font-weight: bold;
            font-size: 0.6875rem;
            line-height: 227%; /* identical to box height, or 227% */
            letter-spacing: 0.0625rem;
            text-transform: uppercase;
            text-align: center;
            padding-bottom: 1.375rem;

            color: #FFFFFF;
            opacity: 0.75;
            transition: opacity, transform 0.1s ease-in;

            &.active {
                transform: scale(1.1);
                opacity: 1;
            }

            &::after {
                // for tablet only
                content: "";
                display: block;
                position: absolute;
                height: 0.25rem;
                left: 0;
                right: 0;
                top: 4.9rem;
                opacity: 0;
            }

            &::before {
                // for desktop only
                content: "";
                display: block;
                position: absolute;
                height: 0.25rem;
                left: 0;
                right: 0;
                bottom: 4.5rem;
                opacity: 0;
                width: 100%;
                transform: scaleX(0);
            }

            @include respond-between(xs, md) {
                padding-top: 2.4375rem;

                &.active::after {
                    opacity: 1; // pseudo element opacity
                }
            }

            @include respond-above(md) {
                &:hover {
                    opacity: 1;
    
                    &::before {
                        opacity: 1;
                        transform: scaleX(1);
                        transition: opacity, transform 0.2s ease-in;
                    }
                }
            }
        }
    }
    // planet link .active effect colors for tablet
    @include respond-between(xs, md) {
        .planet-link.mercury:after {
            background: $mercury;
        }
        .planet-link.venus:after {
            background: $venus;
        }
        .planet-link.earth:after {
            background: $earth;
        }
        .planet-link.mars:after {
            background: $mars;
        }
        .planet-link.jupiter:after {
            background: $jupiter;
        }
        .planet-link.saturn:after {
            background: $saturn;
        }
        .planet-link.uranus:after {
            background: $uranus;
        }
        .planet-link.neptune:after {
            background: $neptune;
        }
    }
    // planet link hover effect colors for desktop
    @include respond-above(md) {
        .planet-link.mercury:before {
            background: $mercury;
        }
        .planet-link.venus:before {
            background: $venus;
        }
        .planet-link.earth:before {
            background: $earth;
        }
        .planet-link.mars:before {
            background: $mars;
        }
        .planet-link.jupiter:before {
            background: $jupiter;
        }
        .planet-link.saturn:before {
            background: $saturn;
        }
        .planet-link.uranus:before {
            background: $uranus;
        }
        .planet-link.neptune:before {
            background: $neptune;
        }
    }


    // The 'overview', 'internal', 'surface' menu -------------------------------------------------
    .menu__content {
        border-bottom: 1px solid rgba(255, 255, 255, 0.20);
        margin: 0;
        font-size: 0.5625rem;

        li {
            padding-top: 1.25rem;
            padding-bottom: 1.0625rem;
            text-align: center;

            a {
                font-family: Spartan;
                font-style: normal;
                font-weight: bold;
                font-size: 0.5625rem;
                line-height: 0.625rem; /* identical to box height */

                text-align: center;
                letter-spacing: 0.120535625rem;
                text-transform: uppercase;
                padding: 1.75rem 1.5rem 1.5625rem 1.5rem;

                color: $white;
                opacity: 0.50;

                &:hover {
                    opacity: 1;
                }
            }
        }

        // the currently highlighted content menu item
        .content-active {
            position: relative;

            @include respond-below(xs) {
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    height: 0.25rem;
                    left: 0;
                    right: 0;
                    top: 3.7rem;
                }
            }

            a {
                opacity: 1;
            }
            &.mercury::after {
                background: $mercury;
            }
            &.venus::after {
                background: $venus;
            }
            &.earth::after {
                background: $earth;
            }
            &.mars::after {
                background: $mars;
            }
            &.jupiter::after {
                background: $jupiter;
            }
            &.saturn::after {
                background: $saturn;
            }
            &.uranus::after {
                background: $uranus;
            }
            &.neptune::after {
                background: $neptune;
            }
        }
    }
}