.main {
    text-align: center;
    counter-reset: main; // create a custom counter for the menu__details "01, 02, 03' format 

    @include respond-between(xs, md) {
        padding: 0 2.4375rem;
    }

    @include respond-above(md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        min-height: 667px;
        padding: 0 11.45833333333333%;
        padding-top: 126px;
    }

    // LEFT SIDE CONTENT ON DESKTOP
    .planet__img__wrapper {
        min-height: 19rem;
        position: relative;
        margin-right: auto;
        margin-left: auto;

        @include respond-between(xs, md) {
            min-height: 28.75rem;
        }

        // PLANET IMAGE SIZES -------------------------------
        .planet-img {

            &.mercury {
                max-width: 29.6%;
            }
            &.venus {
                max-width: 40%;
            }
            &.earth {
                max-width: 46%;
            }
            &.mars {
                max-width: 34.5%;
            }
            &.jupiter {
                max-width: 60%;
            }
            &.saturn {
                max-width: 68%;
            }
            &.uranus {
                max-width: 47%;
            }
            &.neptune {
                max-width: 46%;
            }

            @include respond-between(xs, md) {
                &.mercury {
                    max-width: 26.6669%;
                }
                &.venus {
                    max-width: 36.7%;
                }
                &.earth {
                    max-width: 41.3%;
                }
                &.mars {
                    max-width: 31%;
                }
                &.jupiter {
                    max-width: 23.0625rem;
                }
                &.saturn {
                    max-width: 61%;
                }
                &.uranus {
                    max-width: 42%;
                }
                &.neptune {
                    max-width: 41.3%;
                }
            }

            @include respond-above(md) {
                &.mercury,
                &.venus,
                &.earth,
                &.mars,
                &.jupiter,
                &.saturn,
                &.uranus,
                &.neptune {
                    max-width: 100%;
                }
            }
        }

        .planet-geo-img {
            position: absolute;
            height: 6rem;
            top: 60%;
            z-index: 2;

            @include respond-between(xs, md) {
                min-height: calc(12.4375rem - 10%);
                min-width: calc(10.1875rem - 10%);
                top: 60%;
            }

            @include respond-above(md) {
                min-height: 12.4375rem;
                min-width: 10.1875rem;
                top: 70%;
            }
        }
    }

    // RIGHT SIDE CONTENT ON DESKTOP
    .planet__section {

        margin-left: auto;

        @include respond-between(xs, md) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 69px;
            grid-template-areas: 
            'title details'
            'article details'
            'citation details';
            text-align: left;
        }

        .planet__title {
            grid-area: title;
            align-self: center;
            font-family: Antonio;
            font-style: normal;
            font-weight: normal;
            font-size: 40px;
            line-height: 52px;
            margin: 0;
            /* identical to box height */
    
            text-align: center;
            text-transform: uppercase;

            color: #FFFFFF;

            @include respond-between(xs, md) {
                text-align: left;
                font-size: 3rem;
                line-height: 3.875rem;
            }
    
            @include respond-above(md) {
                text-align: left;
                font-size: 80px;
                line-height: 104px;
            }
        }
    
        .planet__paragraph {
            grid-area: article;
            font-family: Spartan;
            font-style: normal;
            font-weight: normal;
            font-size: 11px;
            line-height: 22px;
            /* or 200% */
    
            text-align: center;
            margin: 0;
            margin-top: 16px;
            margin-right: 24px;
            margin-bottom: 32px;
            margin-left: 24px;
    
            color: $white;


            @include respond-between(xs, md) {
                text-align: left;
                margin-top: 24px;
                margin-right: 0;
                margin-left: 0;
            }
    
            @include respond-above(md) {
                font-size: 14px;
                line-height: 25px;
                text-align: left;
                margin: 0;
                margin-top: 23px;
                max-width: 350px;
            }
        }
    
        // WIKIPEDIA LINK
        .planet__citation {
            grid-area: citation;
            font-family: Spartan;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 25px;
            /* identical to box height, or 208% */
    
            color: $white;;
    
            mix-blend-mode: normal;
            opacity: 0.5;
    
            a {
                color: $white;
                text-decoration: underline;
                font-weight: bold;
            }
    
            img {
                mix-blend-mode: normal;
            }

            @include respond-between(xs, md) {
                margin: 0;
            }

            @include respond-above(md) {
                text-align: left;
                margin: 0;
                margin-top: 24px;
                margin-bottom: 25px;
            }
        }

        // OVERVIEW STRUCTURE SURFACE MENU
        .menu__content__wrapper {

            grid-area: details;

            .menu__content {
                display: block;
                width: 100%;
                list-style: none;
                font-family: Spartan;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                text-align: left;
                line-height: 25px;
                margin: 0;
                margin-top: 16px;
                padding: 0;    
        
                /* identical to box height, or 208% */
        
                letter-spacing: 2.57143px;
                text-transform: uppercase;
        
                .content-link {
                    border: 1px solid #ffffff50;
                    padding-top: 12px;
                    padding-bottom: 11px;
        
                    &:not(:last-child) {
                        margin-bottom: 16px;
                    }
        
                    &:hover {
                        background-color: $darkGrey;
                        border-color: transparent;
                    }
            
                    &::before {
                        padding: 0 28px;
                        counter-increment: main;
                        content: '0' counter(main);
            
                        opacity: 0.5;
                    }
        
                    a {
                        color: $white;
                    }

                    &.content-active {
                        border-color: transparent;
                    }

                    // planet colors -------------------------------------------
                    &.content-active.mercury {
                        background-color: $mercury;
                    }
                    &.content-active.venus {
                        background-color: $venus;
                    } 
                    &.content-active.earth {
                        background-color: $earth;
                    } 
                    &.content-active.mars {
                        background-color: $mars;
                    } 
                    &.content-active.jupiter {
                        background-color: $jupiter;
                    } 
                    &.content-active.saturn {
                        background-color: $saturn;
                    } 
                    &.content-active.uranus {
                        background-color: $uranus;
                    } 
                    &.content-active.neptune {
                        background-color: $neptune;
                    }   

                    @include respond-between(xs, md) {
                        font-size: 0.5625rem;
                        //padding: 0.5rem 1.0625rem;
                        
                        &::before {
                            padding: 0.5rem 1.0625rem;
                        }
                    }
                }  
            }
        }
    } 
}