//colors
$white: rgb(255, 255, 255);
$black: rgb(7, 7, 36);
$darkGrey: rgb(56, 56, 79);
$lightGrey: rgb(131, 131, 145);

//planet colors
$mercury: rgb(65, 158, 187);
$venus: rgb(237, 162, 73);
$earth: rgb(109, 46, 213);
$mars: rgb(209, 76, 50);

$jupiter: rgb(216, 58, 52);
$saturn: rgb(205, 81, 32);
$uranus: rgb(30, 193, 162);
$neptune: rgb(45, 104, 240);